@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --primary-color:#035862;
    --btn-color:#04909f;

    --secondary-color:#e5e5e5;
}
.container-center{
    max-width: 700px;
    margin: auto;
}

.item-inline{
    display: inline;
    padding: 1rem;
    list-style: none;
}

.bullet-remove{
    list-style: none;
}

.navigation{
    background-color: var(--primary-color);
    padding: 1rem 1.5rem;
    padding-right: 3rem;
    border-bottom-left-radius:1rem ;
    border-bottom-right-radius:1rem ;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size:xx-large;
    color: white;
}

.navigation .nav-comp{
    text-align: right;
}

.navigation .link
{
    font-weight: 1000;
    color: white;
    text-decoration: none;
}
.link-active{
    font-weight: bolder;
    font-size: larger;
}

.header-main{
    padding: 2rem;
    padding-bottom: 0rem;
    text-align: center;
}
.header-img{
    max-width: 400px;
    height: 70vh;
    display: block;
    margin:auto;
}
.header-text{
    font-weight: bolder;
    font-size: xx-large;
    padding: 0rem  ;
}
.Span{
    color: var(--primary-color);
}
.section{
    padding: 1rem;
    margin: auto;

}
.section h1,button{
    text-align: center;
}

.section-bg{
    background-color: var(--secondary-color);
}
a{
    text-decoration: none;
    color: white;
}

.btn{
   background-color: var(--btn-color);
     border-radius: 0.5rem;
     padding: 0.5rem 1rem;
     font-weight: bold;

}
.footer{
    text-align: center;
    padding: 1rem 1rem;
    background-color:var(--primary-color);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.footer .link{
    color:white;
    text-decoration: none;
}
.footer .footer-header{
    font-weight: bolder;
    font-size: larger;
    color: white;
}
.footer ul{
    padding-inline-start: 0px;
}
.title{
    margin-top: 5rem;
    margin-bottom: 0.5rem;
}